.datasetDisplay_fetchButton {
    width: 70%;
    display: block;
    margin: 1rem auto 1rem;
    font-size: 2rem;
    height: 3rem;
    cursor: pointer;
}

.datasetDisplay_fetchButton:hover {
    background-color: lightgrey;
}

.datasetDisplay_paragraph {
    font-size: 1.6rem;
    line-height: 2rem;
}